<section>
  <div class="container">
    <div class="row justify-content-sm-center">
      <div class="col">
        <div class="text-center my-5">
          <img src="assets/logos/logo-dark.png" alt="logo" width="250"/>
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
            <form (ngSubmit)="register()" [formGroup]="registerForm" autocomplete="off" id="registerForm"
                  validateOnSubmit>

              <app-text-input [label]="'Username'" [formControlName]="'userName'"></app-text-input>
              <app-text-input [label]="'Email'" [formControlName]="'email'"></app-text-input>
              <app-text-input [label]="'First Name'" [formControlName]="'firstName'"></app-text-input>
              <app-text-input [label]="'Last Name'" [formControlName]="'lastName'"></app-text-input>
              <app-text-input [label]="'Phone'" [formControlName]="'phoneNumber'"
                              [ngxMask]="'(000) 000-0000'"></app-text-input>
              <app-text-input [label]="'Password'" [type]="'password'" [formControlName]="'password'"></app-text-input>
              <app-text-input [label]="'Confirm Password'" [type]="'password'"
                              [formControlName]="'confirmPassword'"></app-text-input>

              <p class="text-end text-muted form-text mb-3">
                By registering you agree with our terms and condition.
              </p>

              <div class="align-items-center d-flex">
                <button class="btn btn-primary ms-auto" type="submit" [disabled]="buttonBusy">
                  Register
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center">
              <span>Already have an account? </span><a routerLink="/auth/login" class="text-dark">Login</a>
            </div>
          </div>
        </div>
        <div class="text-center text-muted mt-5">
          <span> Copyright © 2023 — Lorem Ipsum</span>
        </div>
      </div>
    </div>
  </div>
</section>
