<div class="row mb-3">
  <div class="col-md-3">
    <label class="col-form-label">{{label}}</label>
    <span *ngIf="ngControl.control.errors?.required" class="text-danger"> * </span>
  </div>
  <div class="col-md-9">
    <textarea class="form-control" rows={{rows}} [class.is-invalid]="ngControl.touched && ngControl.invalid"
              [formControl]="ngControl.control"></textarea>
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
      {{label}} is required
    </div>
  </div>
</div>
