<div class="modal-header">
  <h4 class="modal-title">Change Password</h4>
  <button (click)="close('btnX')"
          class="btn-close"
          type="button"></button>
</div>

<div class="modal-body">
  <form (ngSubmit)="save()"
        [formGroup]="changePasswordForm"
        autocomplete="off"
        id="changePasswordForm"
        validateOnSubmit>

    <!-- Validation errors -->
    <div *ngIf="validationErrors.length > 0">
      <div class="alert alert-danger">
        <h6>Validation Errors</h6>
        <ul class="text-danger">
          <li *ngFor="let error of validationErrors">
            {{error | json}}
          </li>
        </ul>
      </div>
    </div>

    <div class="form-floating mt-2 mb-3">
      <input type="password"
             class="form-control"
             id="currentPassword"
             placeholder="Current Password"
             formControlName="currentPassword">
      <label for="currentPassword">Current Password</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password"
             class="form-control"
             id="newPassword"
             placeholder="New Password"
             formControlName="newPassword">
      <label for="newPassword">New Password</label>
      <div *ngIf="changePasswordForm.controls['newPassword'].errors?.pattern"
           class="invalid-feedback">
        Password requires at least 1 lowercase character, 1 uppercase character, 1 number, 1
        non-alphanumeric character and must be at least 8 characters
      </div>
    </div>

    <div class="form-floating mb-2">
      <input type="password"
             class="form-control"
             id="confirmPassword"
             placeholder="Confirm Password"
             formControlName="confirmPassword">
      <label for="confirmPassword">Confirm Password</label>
      <div *ngIf="changePasswordForm.controls['confirmPassword'].errors?.isMatching"
           class="invalid-feedback">
        Passwords do not match
      </div>
    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-outline-secondary"
          (click)="close('btnCancel')">Cancel
  </button>
  <button type="submit"
          class="btn btn-primary"
          form="changePasswordForm">Save
  </button>
</div>
